{% extends "layout.html.njk" %}

{% block meta %}
  <title>Moovin Rentals - We creates homes</title>
  <meta name="description" content="We write code for a living, engineer flying boats for fun.">
{% endblock %}

{% block id %}homepage{% endblock %}

{% block main %}

  <section id="hero">
    <div>
      <p>We create homes.</p>
      <p>Jan - jw@moovin.rentals</p>
      <p>Shuwen - sw@moovin.rentals</p>
    </div>
  </section>

{% endblock %}